body {
  color: white;
  background-color: rgb(9, 33, 63);
}

.content {
  float: right;
  width: 80%;
}
header {
  background-color: rgb(7, 28, 53);
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  color: rgb(170, 187, 174);

  height: 120px;
}
.logo {
  width: 100px;
  padding-left: 18px;
}

nav {
  align-items: center;

  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.link {
  text-decoration: none;
  color: rgb(170, 187, 174);
}
header nav ul li {
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  width: 50px;
  vertical-align: middle;
}
header nav ul li:hover {
  transition-duration: 0.1s;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.link:hover {
  transition-duration: 0.1s;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.loginForm {
  padding-top: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.makeAccount {
  padding-left: 30px;
  padding-top: 100px;
}

.Sidebar {
  align-content: center;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 20px;
  border-right: 1px solid white;
  float: left;
  width: 20%;
}
.Sidebar img {
  max-height: 200px;
  border-radius: 20px;
}

@media only screen and (max-width: 800px) {
  .Sidebar {
    float: none;
    width: 100%;
  }
  .content {
    float: none;
    width: 100%;
  }
  .Sidebar img {
    float: left;
  }
  .Sidebar p {
    width: 70%;
    float: right;
  }
}
@media only screen and (max-width: 576px) {
  .Sidebar p {
    width: 60%;
  }
  nav {
    width: 60%;
  }
  header nav ul li {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    width: 50px;
    vertical-align: middle;
  }
}
